@CHARSET "ISO-8859-1";

.sl_browsebya {
	cursor:pointer;
	cursor:hand;
	font-weight: 200;
}

.sl_browsebya hover {
	font-weight: bold;
}

.sl_sep {
	clear:both;
	height: 6px; 
	text-align:center;
	width: 100%; 
}

.sl_breadcrumb {
	clear:both;
	text-align:center;
	font-size: 1.4em;
	font-weight: bold;
	margin-bottom:10px;
}

.sl_breadcrumb a {
	text-align: left;
	font-size: 1.05em;
	font-weight: 200;
}

.sl_catdesc {
	font-size:1.10em; 
	clear:both;
}


.sl_maincat {
	font-size:1.23em; 
	clear:both;
}

.sl_subcat {
	margin-left:13px; 
	font-size:0.90em; 
	clear:both;
}

.sl_alphadiva {
	clear:both; 
	text-align:center; 
}

.sl_alphasubdiva {
	float:center; 
	width: 100%;
	clear:none;
	font-size:1.5em;
}

.sl_alphasubdivb {
	float:clear;
	width: 100%; 
	clear:none;
	font-size:1.4em;
}

.sl_search {
	clear:both; 
	text-align:center; 
	font-size:1.25em;
}

.sl_searchdiv {
	float: clear;
	width: 250px;
	margin: 0 auto; 
}

.sl_pagenav {
	float: clear;
	align: center;
}

.sl_resulttable {

}

.sl_resulttable tr {
	
}

.sl_resulttable td {
	
}

.sl_resulttable tbody {
	
}

.sl_resulttable thead {
	
}

.sl_mainartist {
	font-size:1.23em; 
	clear:both;
}

.sl_subartist {
	margin-left:13px; 
	font-size:0.90em; 
	clear:both;
}

.sl_mainalbum {
	font-size:1.23em; 
	clear:both;
}

.sl_subalbum {
	margin-left:13px; 
	font-size:0.90em; 
	clear:both;
}

.sl_artalbum {
	margin:5px 5px 5px 5px; 
	font-size:0.75em; 
	border-style: dotted;
	border-width: 1px;
	clear:both;
}

.sl_subtitle {
	font-size:1.25em;
	font-weight: bold;
}

.sl_mainsong {
	font-size:1.13em; 
	clear:both;
	margin-left: 35px;
	margin-top: 3px;
	margin-bottom: 10px;
}

.container{
  float: left;
  clear: left;
  border: 0px dotted;
  width: 366px;
}

.col1 {
  float: left;
  clear:both;
  width: 85px;
  border: 0px solid;
  font-size:1.25em;
  font-weight: bold;
}

.col2 {
  float: left;
  border: 0px solid;
  font-size:1.25em;
  width: inherit;
}

.label{
    position:absolute;
    top:-15px;
    left:20px;  
    margin:0;
    padding:0 5px;
    line-height:25px;
    background: #00ff00;
    border:1px solid #000000;
	font-size:1.8em;
}

.container{
    position:relative;
    float:left;
    width: inherit;
    border: 1px solid #000000;
    margin:20px;
    background:white;
    display:inline;
	min-width:320px;
}

.content {
    padding: 5px;
    margin: 5px 1px 1px 1px;
	

}

.sl_subsong {
	margin-left:13px; 
	font-size:0.90em; 
	clear:both;
}

.sl_artsong {
	margin:5px 5px 5px 5px; 
	font-size:0.75em; 
	border-style: dotted;
	border-width: 1px;
	clear:both;
	width:320px;
}

.lyric {
	font-style:italic;
	margin-left: 10px;
}

.id {
	text-align: center;
	width: 40px;
}

.title .artist .album {
	text-align: left;
}


.leftcol {
    font-weight: bold;
    text-align: right;
    width: 60px;
 }